-microedition
-dontwarn
-overloadaggressively
-allowaccessmodification
-optimizationpasses 4

# Сохраняем главный класс мидлета (точку входа)
-keep public class * extends javax.microedition.midlet.MIDlet

# Сохраняем либы, которые могут инициализироваться через Class.forName или рефлексию
-keep public class tube42.** { *; }-injars ./fishingly.jar
-outjar ./fishingly_obf.jar
-printseeds ./fishingly_obf_seeds.txt
-printmapping ./fishingly_obf_map.txt
-libraryjars ./j2me_compiler/WTK2.5.2/lib/cldcapi10.jar:./j2me_compiler/WTK2.5.2/lib/cldcapi11.jar:./j2me_compiler/WTK2.5.2/lib/j2me-ws.jar:./j2me_compiler/WTK2.5.2/lib/j2me-xmlrpc.jar:./j2me_compiler/WTK2.5.2/lib/jsr082.jar:./j2me_compiler/WTK2.5.2/lib/jsr179.jar:./j2me_compiler/WTK2.5.2/lib/jsr180.jar:./j2me_compiler/WTK2.5.2/lib/jsr184.jar:./j2me_compiler/WTK2.5.2/lib/jsr211.jar:./j2me_compiler/WTK2.5.2/lib/jsr226.jar:./j2me_compiler/WTK2.5.2/lib/jsr229.jar:./j2me_compiler/WTK2.5.2/lib/jsr234.jar:./j2me_compiler/WTK2.5.2/lib/jsr238.jar:./j2me_compiler/WTK2.5.2/lib/jsr239.jar:./j2me_compiler/WTK2.5.2/lib/jsr75.jar:./j2me_compiler/WTK2.5.2/lib/midpapi10.jar:./j2me_compiler/WTK2.5.2/lib/midpapi20.jar:./j2me_compiler/WTK2.5.2/lib/midpapi21.jar:./j2me_compiler/WTK2.5.2/lib/mmapi.jar:./j2me_compiler/WTK2.5.2/lib/satsa-apdu.jar:./j2me_compiler/WTK2.5.2/lib/satsa-crypto.jar:./j2me_compiler/WTK2.5.2/lib/satsa-jcrmi.jar:./j2me_compiler/WTK2.5.2/lib/satsa-pki.jar:./j2me_compiler/WTK2.5.2/lib/wma11.jar:./j2me_compiler/WTK2.5.2/lib/wma20.jar
