-microedition
-dontwarn
-overloadaggressively
-allowaccessmodification
-optimizationpasses 4

# Сохраняем главный класс мидлета (точку входа)
-keep public class * extends javax.microedition.midlet.MIDlet

# Сохраняем либы, которые могут инициализироваться через Class.forName или рефлексию
-keep public class tube42.** { *; }