-dontwarn
-overloadaggressively
-allowaccessmodification
-optimizationpasses 4

# Сохраняем главный класс мидлета (точку входа)
-keep public class * extends javax.microedition.midlet.MIDlet

# Если мы будем использовать tube42 или другие либы, которые инициализируются по имени
-keep public class tube42.** { *; }